html,
body,
#__next {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background, #070b13);
  color: var(--color, #f2f2f2);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
